{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}
    <h1>Animal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Identifiant</th>
                <th>Nom</th>
                <th>DateDeNaissance</th>
                <th>DateArriverZoo</th>
                <th>DateDepart</th>
                <th>ZooProprio</th>
                <th>Genre</th>
                <th>Espece</th>
                <th>Sexe</th>
                <th>Steril</th>
                <th>PeutEtreQuarantaine</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.Identifiant }}</td>
                <td>{{ animal.Nom }}</td>
                <td>{{ animal.DateDeNaissance ? animal.DateDeNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ animal.DateArriverZoo ? animal.DateArriverZoo|date('Y-m-d') : '' }}</td>
                <td>{{ animal.DateDepart ? animal.DateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ animal.ZooProprio ? 'Yes' : 'No' }}</td>
                <td>{{ animal.Genre }}</td>
                <td>{{ animal.Espece }}</td>
                <td>{{ animal.Sexe }}</td>
                <td>{{ animal.Steril ? 'Yes' : 'No' }}</td>
                <td>{{ animal.PeutEtreQuarantaine ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_animal_show', {'id': animal.id}) }}">show</a>
                    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_animal_new') }}">Create new</a>
{% endblock %}
